@page "/"
@using Blazor.Components
@using Blazor.Helpers
@using Microsoft.AspNetCore.Components.Authorization
@inject IAuthService AuthService
@inject NavigationManager NavigationManager


<h1>Hello, world!</h1>

<AuthorizeView>
    <Authorized>
        <UserIndex/>
    </Authorized>
    <NotAuthorized>
        @{
            NavigationManager.NavigateTo("/login");
        }
    </NotAuthorized>
</AuthorizeView>


@code {
    [Inject]
    protected IAuthService AuthServiceInstance { get; set; }
    [Inject]
    protected NavigationManager NavigationManger { get; set; }
}