@page "/session/new"
@page "/session/{SessionId}/show"
@attribute [Authorize]
@using Blazor.Components.Spinner

<div class="SessionStart">
    <h1>New Session</h1>

    @if (FormState == FormStates.GENRES)
    {
        <div>
            <small>Select the genres that you want to watch</small>
            <hr />
            <Spinner IsLoaded="Genres != null">
                <label for="SessionName">Session name</label>
                <input id="SessionName" type="text" @bind="Command.Name" />
                <ul>
                    @foreach (var genre in Genres!)
                    {
                        <li>
                            <input id=@genre type="checkbox"
                                @onchange="eventArgs => ToggleSelected(genre, (bool)eventArgs.Value)"
                                checked="@SelectedGenres.Contains(genre)" />
                            <label for=@genre>@genre</label>
                            <br />
                        </li>
                    }
                </ul>
            </Spinner>
        </div>
    }
    else
    {
        <div>
            Complete
        </div>
    }
    <div class="Controls">
        <button @onclick="async () => await Next()">
            @ButtonText
        </button>
        @if(ShowStart()) {
            <button @onclick="Start">
                Start
            </button>
        }
    </div>
</div>