@page "/session/{SessionId}/rating/new"
@page "/session/{SessionId}/rating/{RatingId}/show"
@attribute [Authorize]
@using Blazor.Components.Spinner

<div class="SessionRating">
    <div class="TopBar">
        <h2>
            @MovieTitle
        </h2>
    </div>
    <div class="ScrollableContent">
        <div class="MoviePoster">
            @if (MovieInfo?.PosterPartialPath is not null)
            {
                <img src=@MovieInfo.PosterPartialPath alt="Poster" />
            }
            else
            {
                <img src="https://via.placeholder.com/150" alt="Loading" />
            }
        </div>
        <div class="Information">
            <div class="Ratings">
                IMDB ratings etc
            </div>
            <div class="Summary">
                @MovieSummary
            </div>
        </div>
    </div>

    <div class="Controls">
        <div class="Container">
            <button @onclick="OnDownvote">Down</button>
            <button @onclick="OnPass">Pass</button>
            <button @onclick="OnUpvote">Up</button>
        </div>
    </div>
</div>