@page "/session/{SessionId}/rating/new"
@page "/session/{SessionId}/rating/{RatingId}/show"
@attribute [Authorize]
@using Blazor.Components.Spinner

<div class="SessionRating">
    <div class="TopBar">
        Movie Title (fixed to top)
    </div>
    <div class="ScrollableContent">
        <div class="MoviePoster">
            @if (PosterPath is not null)
            {
                <img src=@PosterPath alt="Poster" />
            }
            else
            {
                <img src="https://via.placeholder.com/150" alt="Loading" />
            }
        </div>
        <div class="Information">
            <div class="Ratings">
                IMDB ratings etc
            </div>
            <div class="Summary">
                @foreach (var _item in Enumerable.Range(0, 1000))
                {
                    <p>
                        Lorem Epsum
                    </p>
                }
            </div>
        </div>
    </div>

    <div class="Controls">
        <button>Down</button>
        <button>Pass</button>
        <button>Up</button>
    </div>
</div>