@page "/session/new"
@attribute [Authorize]
@using Blazor.Components.Spinner

<div class="StartSession">
    <h1>New Session</h1>

    @if (FormState == FormStates.GENRES)
    {
        <div>
            <small>Select the genres that you want to watch</small>

            <Spinner IsLoaded="Genres != null">
                Loaded!
            </Spinner>

        </div>
    }


</div>