.SessionIndex {
  text-align: center;
}

.SessionRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "name meta";
  column-gap: 2ch;
  list-style: none;
}

.SessionIndex ul {
  padding: 0;
  list-style-type: none;
}

.SessionRow .Name {
  grid-area: name;
  text-align: right;
}

.SessionRow .Meta {
  grid-area: meta;
  text-align: left;
}
