@using Blazor.Helpers
<div class="UserIndex">
    @if (_sessions is not null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Host</th>
                    <th>Name</th>
                    <th>Genres</th>
                    <th>Invite Link</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var session in _sessions)
                {
                    <tr>
                        <th scope="row"></th>
                        <td scope="row">
                            @session.HostName
                        </td>
                        <td>
                            <NavLink href=@session.Link()> @session.Name </NavLink>
                        </td>
                        <td>@GenresString(session)</td>
                        <td>Invite Link</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@code {
    
}