.homepage {
    text-align: center;
    display: grid;
    grid-template-areas: 'start' 'sessions';
    grid-template-rows: minmax(300px, 60vh) auto;
}

.Start {
    grid-area: start;
    display: grid;
    place-items: center;
    font-size: 4em;
}

.Sessions {
    grid-area: sessions;
}